{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gästebuch</h1>
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ guestbook.id }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ guestbook.user }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ guestbook.message }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if guestbook.date %}{{ guestbook.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('guestbook_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('guestbook_edit', { 'id': guestbook.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
